
airflow.cfg
airflow.db
airflow_settings.yaml
airflow-webserver.pid
astro
.astro/config.yaml.lock
**/.astro/dbt_metadata.json
.astro/*.local.yaml
.astro/*.local.yml
**/.astro/manifest.slim.json
.astro/standalone/
.astro/worktrees/
.claude
dbt/dbt_packages/
dbt/logs/
dbt/target/
.DS_Store
.env
# from astro
.git
include/dbt/dbt_packages/
include/dbt/logs/
include/dbt/target/
include/dbt/.user.yml
__pycache__/
sa-key.json
.venv
webserver_config.py
