.claude
.env
sa-key.json
dbt/target/
dbt/dbt_packages/
dbt/logs/
include/dbt/target/
include/dbt/dbt_packages/
include/dbt/logs/

# from astro
.git
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/standalone/
.astro/worktrees/
.astro/config.yaml.lock
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.astro/*.local.yml
.astro/*.local.yaml

**/.astro/dbt_metadata.json
**/.astro/manifest.slim.json
include/dbt/.user.yml
